@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');

:root {
    --color-background: #C9E6F0;
    --color-background-selected: #133E87;
    --color-font-principal: #133E87;
    --color-active: #527fcc;
    --color-active-inserted: #0046FF;
    --color-font-selected: #FFF;
    --color-sub-active: #b0c6eb;
    --color-border-selected: #FFF;
    
    --font-titulo-principal: "Joti One", serif;
    --font-principal: "WDXL Lubrifont TC", sans-serif;

    --tamanho-input-numero: 16px;
    --tamanho-celula: 50px;
    --tamanho-subgrid: calc(var(--tamanho-celula) * 3);
    --tamanho-grid: calc(var(--tamanho-subgrid) * 3);
}

.conteudo {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.conteudo__titulo {
    font-family: var(--font-titulo-principal);
    font-size: 3em;
    font-weight: 700;
    color: var(--color-font-principal);
}

.grid {
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    min-width: var(--tamanho-celula);
    min-height: var(--tamanho-celula);
    font-family: var(--font-principal);
}

.subgrid {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    min-width: calc(var(--tamanho-celula) * 3);
    min-height: calc(var(--tamanho-celula) * 3);
}

.cell {
    /* mudar fonte dos números */
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: calc(var(--tamanho-celula));
    min-height: calc(var(--tamanho-celula));
    font-weight: 500;
    font-size: 1.5em;
}

span.cell:hover {
    cursor: pointer;
}

.active {
    background-color: var(--color-active);
    font-weight: 700;
    border: 3px solid transparent;
    animation: piscarBorda 1s normal;
}

.inserted-success {
    color: var(--color-active-inserted);
}

.sub-active {
    background-color: var(--color-sub-active);
}

.sub-active-row-collumn {
    background-color: var(--color-sub-active);
}

.selected-cell {
    border: 3px solid transparent;
    background-color: var(--color-background-selected);
    color: var(--color-font-selected);
    animation: piscarBorda 1s normal;
}

.digits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    gap: 1px;
}

.digit {
    min-height: var(--tamanho-celula);
    width: var(--tamanho-celula);
    align-content: center;
    text-align: center;
    font-size: calc(var(--tamanho-input-numero) * 2);
    font-weight: 700;
    color: var(--color-font-principal);
}

.digit:hover {
    border: 1px solid var(--color-font-principal);
    cursor: pointer;
}

.digit-completed {
    color: red;
}

/* ANIMATIONS */
@keyframes piscarBorda {
    0%,100% {
        border-color: transparent;
    }

    50% {
        border-color: #FFF;
    }
}